.wrapper {
  .headerTabs {
    .tabs {
      display: flex;
      padding: 24px 64px;
      font-size: 18px;
      justify-content: space-evenly;
      border-radius: 6px;
      background: #2b2b4b;

      li {
        a {
          &.active {
            border-bottom: 3px solid #d9d9d9;
            padding-bottom: 4px;
          }
        }
      }
    }
  }
}

.name-list li {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.active{
  font-size: 20px;
  text-align: center;
}