<div class="wrapper">
    <div class="headerTabs">
        <ul class="tabs">
            <li><a routerLinkActive="active" routerLink="summary">Summary</a></li>
            <li><a routerLinkActive="active" routerLink="team">Team</a></li>
            <li><a routerLinkActive="active" routerLink="estimates">Estimates</a></li>
            <li><a routerLinkActive="active" routerLink="tracking">Tracking</a></li>
            <li><a routerLinkActive="active" routerLink="expense">Expense Estimates</a></li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>