<div class="summaryContent">
    <div class="leftSection section">
        <h3 class="topHeader">General</h3>
        <ul class="name-list">
            <li class="list"><span class="name-label">Project ID :</span> <span class="name-value">PID-1000</span>
            </li>
            <li class="list"><span class="name-label">Name :</span> <span
                    class="name-value">3KT_Administration</span></li>
            <li class="list"><span class="name-label">Description :</span><span class="name-value">To fill other
                    than Projects</span></li>
            <li class="list"><span class="name-label">Customer :</span><span class="name-value">3K Technologies
                    US</span></li>
            <li class="list"><span class="name-label">Project Type :</span><span class="name-value">Admin</span>
            </li>
            <li class="list"><span class="name-label">Project Category :</span><span class="name-value">---</span>
            </li>
            <li class="list"><span class="name-label">Calendar template :</span><span class="name-value">Default
                    Work template</span></li>
            <li class="list"><span class="name-label">Currency :</span><span class="name-value">US Dollar</span>
            </li>
            <li class="list"><span class="name-label">Project Manager :</span><span class="name-value">Manager
                    Name</span></li>
            <li class="list"><span class="name-label">Overall Project Status:</span><span
                    class="name-value">---</span></li>
        </ul>
    </div>

    <div class="rightSection section">
        <h3 class="topHeader">Estimates</h3>
        <ul class="name-list">
            <li class="list"><span class="name-label">Estimated Start Date :</span> <span
                    class="name-value">18/05/2023</span></li>
            <li class="list"><span class="name-label">Estimated Finish Date:</span> <span
                    class="name-value">18/05/2023</span></li>
            <li class="list"><span class="name-label">Estimated Hours :</span><span class="name-value">161.19</span>
            </li>
            <li class="list"><span class="name-label">Estimated Budget:</span><span class="name-value">$0.00</span>
            </li>
        </ul>
    </div>
</div>