<div class="navbar">
    <div class="profile">
        <div class="imgWrapper">
            <img class="profileImg" src="../../../assets/images/user-icon.png" alt="profile-img">
        </div>
        <div class="name">
            <h4>User Name</h4>
            <span class="online">online</span>
        </div>
        <div class="dropdown-wrapper">
            <ul class="dropdown-content" [class.active]="dropdownOpen">
                <li (click)="selectDropdownItem('Edit Profile')" [class.selected]="isItemSelected('Edit Profile')" routerLink="profile">
                    Profile
                    details</li>
                <li (click)="selectDropdownItem('Logout')" [class.selected]="isItemSelected('Logout')" routerLink="profile">Logout</li>
            </ul>
            <div class="arrowWrapper" [class.active]="dropdownOpen" (click)="toggleDropdown()">
                <img class="arrowDown" src="../../../assets/images/icons8-hamburger-menu-50.png" alt="arrowdown">
            </div>
        </div>
    </div>
    <div class="navigation-links-wrapper">
        <div class="task-counts">
            <span class="task-text">Task</span>
            <span class="count-text">16</span>
        </div>
        <ul class="navlinks-wrapper">
            <li class="navlink" routerLinkActive="active"  routerLink="/main-body/home" [routerLinkActiveOptions]="{exact: true}">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/home.png" alt="home-icon">
                    <a > Home</a>
                </div>
            </li>
            <li class="navlink" routerLinkActive="active" routerLink="/main-body/calender">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/calendar.png" alt="calender-icon">
                    <a > Calender</a>
                </div>
            </li>
            <!-- <li class="navlink" routerLinkActive="active"  routerLink="/main-body/messages">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/message-icon.png" alt="message-icon">
                    <a > Messages</a>
                </div>
                <span class="count-text">22</span>
            </li> -->
            <li class="navlink" routerLinkActive="active">
                <mat-accordion class="toggle-btn">
                    <mat-expansion-panel class="expand" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header id="projectHeader">
                            <mat-panel-title class="icon-wrapper" routerLink="/main-body/projects">
                                <img class="arrowIcon" src="../../../assets/images/briefcase.svg" alt="message-icon">
                                Projects
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="dropdown-toggle-items">
                            <li routerLinkActive="active">
                                <a  routerLink="/main-body/projects/google">Google</a>
                            </li>
                            <li routerLinkActive="active">
                                <a  routerLink="/main-body/projects/amazon">Amazon</a>
                            </li>
                            <li routerLinkActive="active">
                                <a  routerLink="/main-body/projects/facebook">Facebook</a>
                            </li>
                            <li routerLinkActive="active">
                                <a  routerLink="/main-body/projects/airbnb">Airbnb</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>

            </li>
            <li class="navlink" routerLinkActive="active" routerLink="/main-body/progress">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/bar-chart.svg" alt="progress-icon">
                    <a  > Progress</a>
                </div>
            </li>
            <li class="navlink" routerLinkActive="active" routerLink="/main-body/goals">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/pie-chart.svg" alt="pie-chart-icon">
                    <a  > Goals</a>
                </div>
            </li>
            <li class="navlink" routerLinkActive="active" routerLink="/main-body/settings">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/settings.svg" alt="settings-icon">
                    <a  > Settings</a>
                </div>
            </li>
        </ul>
    </div>
</div>