.navbar {
  width: 100%;

  .profile {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: #2b2b4b;
    padding: 30px 18px 30px 15px;

    .imgWrapper {
      width: 55px;
      height: 55px;
    }

    .name {
      margin: 0 10px 0 24px;

      h4 {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
      }
      .online {
        color: #45c86d;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .arrowWrapper {
      display: flex;
      align-items: center;
      transition: all 0.4s ease;
      cursor: pointer;
      width: 28px;
      height: 28px;

      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
  }

  .navigation-links-wrapper {
    margin-top: 22px;
    background: #2b2b4b;
    padding: 28px 20px;
    border-radius: 6px;

    .task-counts {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid #525270;
      margin-bottom: 12px;
      align-items: center;

      .task-text {
        font-size: 18px;
        line-height: normal;
        font-weight: 700;
      }

      .count-text {
        padding: 1px 12px;
        font-size: 16px;
        line-height: normal;
        font-weight: 400;
        background: #014dd8;
        border-radius: 10px;
      }
    }

    .navlinks-wrapper {
      .navlink {
        display: flex;
        align-items: center;
        padding: 12px 10px;
        justify-content: space-between;
        flex-wrap: wrap;

        .toggle-btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding-right: 20px;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;

          .arrow-icon {
            transition: all 0.4s ease;
          }
        }

        .dropdown-toggle-items {
          flex-direction: column;
          gap: 12px;
          width: 100%;

          li {
            padding: 6px;
            padding-left: 48px;
            position: relative;
            border-radius: 6px;

            &.active {
              background: #cccccc;

              a {
                color: #000033;
              }
            }

            &::after {
              content: "";
              position: absolute;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              top: 50%;
              left: 12%;
              transform: translateY(-50%);
              background: #f2994a;
            }

            &:nth-child(2) {
              &::after {
                background: #eb5757;
              }
            }

            &:nth-child(3) {
              &::after {
                background: #219653;
              }
            }

            &:nth-child(4) {
              &::after {
                background: #2d9cdb;
              }
            }

            a {
              color: #8d91a0;
              font-size: 16px;
              line-height: normal;
              font-weight: 600;
            }
          }
        }

        &.active {
          background: #000033;
          border-radius: 4px;

          .icon-wrapper {
            img {
              filter: brightness(1);
            }

            a {
              color: #ffffff;
            }
          }
        }

        .icon-wrapper {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 24px;
            height: 24px;
            object-fit: cover;
            filter: sepia(0) brightness(0) invert(1) brightness(0.6);
          }

          a,
          span {
            line-height: 24px;
            color: #8b8d9a;
            font-size: 18px;
            font-weight: 600;
          }
        }

        .count-text {
          font-size: 16px;
          line-height: normal;
          font-weight: 400;
          background: #0bb752;
          border-radius: 10px;
          padding: 1px 12px;
        }
      }
    }
  }
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-content {
  display: flex;
  word-wrap: unset;
  display: none;
  position: absolute;
  background: #000033;
  border-radius: 4px;
  top: 40px;
  right: 0px;
  padding: 6px 0;
  transition: all 0.4s ease;
  border: 1px solid #cecbcb6b;

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background: #000033;
    right: 10px;
    top: -5px;
    border: 1px solid #cecbcb6b;
    transform: rotate(45deg);
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
  }

  li {
    color: #8d91a0;
    padding: 8px 12px;
    background: #000033;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      background: #2b2b4b;
    }

    &.selected {
      background: #cccccc;
      color: #000033;
    }
  }
}

.dropdown-content.active {
  display: block;
  color: #8d91a0;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s ease;
}
