<div class="navbar">
    <div class="profile">
        <div class="imgWrapper">
            <img class="profileImg" src="../../../assets/images/Profile-pic1.png" alt="profile-img">
        </div>
        <div class="name">
            <h4>Jakeman Mangkoler</h4>
            <span class="online">online</span>
        </div>
        <div class="arrowWrapper">
            <img class="arrowDown" src="../../../assets/images/Arrow-Down.png" alt="arrowdown">
        </div>
    </div>
    <div class="navigation-links-wrapper">
        <div class="task-counts">
            <span class="task-text">Task</span>
            <span class="count-text">16</span>
        </div>
        <ul class="navlinks-wrapper">
            <li class="navlink active">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/home.png" alt="home-icon">
                    <a href=""> Home</a>
                </div>
            </li>
            <li class="navlink">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/calendar.png" alt="calender-icon">
                    <a href=""> Calender</a>
                </div>
            </li>
            <li class="navlink">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/message-icon.png" alt="message-icon">
                    <a href=""> Messages</a>
                </div>
                <span class="count-text">22</span>
            </li>
            <li class="navlink">
                <div class="toggle-btn">
                    <div class="icon-wrapper">
                        <img src="../../../assets/images/briefcase.svg" alt="message-icon">
                        <a href=""> Projects</a>
                    </div>
                    <img src="../../../assets/images/Arrow-Down.png" alt="">
                </div>
                <ul class="dropdown-toggle-items">
                    <li>
                        <a href="">Google</a>
                    </li>
                    <li>
                        <a href="">Amazon</a>
                    </li>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Airbnb</a>
                    </li>
                </ul>
            </li>
            <li class="navlink">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/bar-chart.svg" alt="progress-icon">
                    <a href=""> Progress</a>
                </div>
            </li>
            <li class="navlink">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/pie-chart.svg" alt="pie-chart-icon">
                    <a href=""> Goals</a>
                </div>
            </li>
            <li class="navlink">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/settings.svg" alt="settings-icon">
                    <a href=""> Settings</a>
                </div>
            </li>
        </ul>
    </div>
</div>