<div class="navbar">
    <div class="profile">
        <div class="imgWrapper">
            <img class="profileImg" src="../../../assets/images/Profile-pic1.png" alt="profile-img">
        </div>
        <div class="name">
            <h4>Jakeman Mangkoler</h4>
            <span class="online">online</span>
        </div>
        <div class="arrowWrapper">
            <img class="arrowDown" src="../../../assets/images/Arrow-Down.png" alt="arrowdown">
        </div>
    </div>
    <div class="navigation-links-wrapper">
        <div class="task-counts">
            <span class="task-text">Task</span>
            <span class="count-text">16</span>
        </div>
        <ul class="navlinks-wrapper">
            <li class="navlink" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                >
                <div class="icon-wrapper">
                    <img src="../../../assets/images/home.png" alt="home-icon">
                    <a href="" routerLink="home"> Home</a>
                </div>
            </li>
            <li class="navlink" routerLinkActive="active">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/calendar.png" alt="calender-icon">
                    <a href="" routerLink="calender"> Calender</a>
                </div>
            </li>
            <li class="navlink" routerLinkActive="active" >
                <div class="icon-wrapper">
                    <img src="../../../assets/images/message-icon.png" alt="message-icon">
                    <a href="" routerLink="messages"> Messages</a>
                </div>
                <span class="count-text">22</span>
            </li>
            <li class="navlink" routerLinkActive="active">
                <mat-accordion class="toggle-btn">
                    <mat-expansion-panel class="expand" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="icon-wrapper" routerLink="projects">
                                <img src="../../../assets/images/briefcase.svg" alt="message-icon">
                                Projects
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="dropdown-toggle-items">
                            <li routerLinkActive="active">
                                <a href="" routerLink="projects/google">Google</a>
                            </li>
                            <li routerLinkActive="active">
                                <a href="" routerLink="projects/amazon">Amazon</a>
                            </li>
                            <li routerLinkActive="active">
                                <a href="" routerLink="projects/facebook">Facebook</a>
                            </li>
                            <li routerLinkActive="active">
                                <a href="" routerLink="projects/airbnb">Airbnb</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>

            </li>
            <li class="navlink" routerLinkActive="active" >
                <div class="icon-wrapper">
                    <img src="../../../assets/images/bar-chart.svg" alt="progress-icon">
                    <a href="" routerLink="progress"> Progress</a>
                </div>
            </li>
            <li class="navlink" routerLinkActive="active">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/pie-chart.svg" alt="pie-chart-icon">
                    <a href="" routerLink="goals"> Goals</a>
                </div>
            </li>
            <li class="navlink" routerLinkActive="active">
                <div class="icon-wrapper">
                    <img src="../../../assets/images/settings.svg" alt="settings-icon">
                    <a href="" routerLink="settings"> Settings</a>
                </div>
            </li>
        </ul>
    </div>
</div>