<div class="container">
  <div class="wrapper">
    <div class="btn-wrapper">
      <button (click)="openPopup()">
        <img src="../../../assets/images/plus-icon.png" alt="plus-icon" />
        <span>Create Your goal</span>
      </button>
    </div>
  </div>
</div>

<div class="custom-modal" [ngClass]="{ opened: isPopupOpen }">
  <div class="modal-wrapper">
    <div class="modal-inner-content">
      <form [formGroup]="goalsForm" (submit)="fetchFormData($event)">
        <div class="modal-header">
          <h2>Add Goals Details</h2>
          <button (click)="closePopup()" type="button">X</button>
        </div>
        <div class="modal-body">
          <div class="goalsDetails">
            <div class="goalName">
              <label for="" name="goalName">Goal Name</label>
              <input type="text" formControlName="goalName" />
              <p class="error-text" *ngIf="
                  !goalsForm.get('goalName')?.valid &&
                  goalsForm.get('goalName')?.touched
                ">
                Invalid Input
              </p>
            </div>
            <div class="Estimatedhours">
              <label for="" name="Estimatedhours">Estimated Hours</label>
              <input type="number" formControlName="Estimatedhours" />
              <p class="error-text" *ngIf="
                  !goalsForm.get('Estimatedhours')?.valid &&
                  goalsForm.get('Estimatedhours')?.touched
                ">
                Please Enter Numbers
              </p>
            </div>
          </div>
          <div class="dates-wrapper">
            <div class="startDate">
              <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="dp1" name="start-date" [min]="todayDate" formControlName="startDate"
                  (dateChange)="updateEndDate($event)" />
                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker #dp1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="endDate" [ngClass]="{ disabled: !goalsForm.get('startDate')?.valid }">
              <mat-form-field>
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="dp2" formControlName="endDate" name="end-date" [min]="startDate" />
                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker #dp2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="description-wrapper">
            <label for="">Description (Min 15 Char*)</label>
            <textarea name="" id="" cols="20" rows="5" name="description" formControlName="description"></textarea>
            <p class="error-text" *ngIf="
                !goalsForm.get('description')?.valid &&
                goalsForm.get('description')?.touched
              ">
              Invalid Input
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="closePopup()" type="button" class="close-btn">
            Cancel
          </button>
          <button class="submit-btn" [disabled]="!goalsForm.valid">
            Submit
          </button>
        </div>
      </form>
    </div>
    <div class="overlay" (click)="closePopup()"></div>
  </div>
</div>

<div class="cards-wrapper">
  <div class="card" *ngFor="let goal of goals; let i = index" [ngClass]="getGradientClass(i)">
    <h3>{{ goal.goalName }}</h3>
    <p>Estimated Hours : {{ goal.Estimatedhours }}</p>
    <p>End Date : {{ goal.endDate | date : "dd/MM/yy" }}</p>
    <h4><span>Description : </span>{{ goal.description }}</h4>
    <a class="see-more-button" (click)="showDescriptionPopup(goal.description, i)">See More</a>
  </div>
  </div>
  
  
  <div class="description-popup" *ngIf="isDescriptionPopupOpen">
    <div class="popup-content" [ngClass]="getGradientClass(indexColour)">
      <p>{{ selectedGoalDescription }}</p>
      <button class="close-button" (click)="closeDescriptionPopup()">Close</button>
    </div>
  </div>