<div class="container">
    <div class="wrapper">
        <div class="header-items">
            <a href="" class="main-logo"><img src="../../../assets/images/category-icon.png" alt="logo"></a>
            <div class="input-wrapper">
                <input type="text">
                <img src="../../../assets/images/search-icon.png" alt="search-icon">
            </div>
            <a href="" class="call-btn">
                <img src="../../../assets/images/call-icon.png" alt="call-icon">
            </a>
            <a href="" class="new-stack-btn">
                <img src="../../../assets/images/plus-icon.png" alt="plus-icon">
                <span>New Stack</span>
            </a>
            <a href="" class="message-wrapper">
                <img src="../../../assets/images/message-icon.png" alt="message-icon">
            </a>
            <a href="" class="notification-wrapper">
                <img src="../../../assets/images/notification-icon.png" alt="notification-icon">
            </a>
        </div>

    </div>
</div>