<div class="right-section">
    <div class="block">
        <div class="content">
            <span class="topHeading">To be Fulfilled</span>
            <span class="middleNumber">56</span>
            <span class="bottomText">Quality</span>
        </div>
        <div class="rightContent">
            <div class="imgWrapper">
                <img class="bookImg" src="../../../assets/images/NoteBook.png" alt="">
            </div>
            <div class="arrowWrapper">
                <img src=".../../../../../assets/images/arrow-left.png" alt="">
            </div>
        </div>
    </div>
    <div class="block">
        <div class="content">
            <span class="topHeading">To be Invoiced</span>
            <span class="middleNumber">24</span>
            <span class="bottomText">Quality</span>
        </div>
        <div class="rightContent">
            <div class="imgWrapper">
                <img class="bookImg" src="../../../assets/images/2ndImg.png" alt="">
            </div>
        </div>
    </div>
    <div class="block">
        <div class="content">
            <span class="topHeading">Completed</span>
            <span class="middleNumber">12</span>
            <span class="bottomText">Quality</span>
        </div>
        <div class="rightContent">
            <div class="imgWrapper">
                <img class="bookImg" src="../../../assets/images/3rdImg.png" alt="">
            </div>
            <div class="arrowWrapper">
                <img src=".../../../../../assets/images/arrow-left.png" alt="">
            </div>
        </div>
    </div>
    <div class="block">
        <div class="content">
            <span class="topHeading">Assigned to me</span>
            <span class="middleNumber">3</span>
            <span class="bottomText">Quality</span>
        </div>
        <div class="rightContent">
            <div class="imgWrapper">
                <img class="bookImg" src="../../../assets/images/4thImg.png" alt="">
            </div>
        </div>
    </div>
</div>