.right-section {
  display: flex;
  height: 117px;
  border-radius: 6px;
  background: #2b2b4b;

  .block1,
  .block2,
  .block3,
  .block4 {
    display: flex;
    align-items: center;
    // width: 236.138px;
    height: 82.318px;
    margin: 17px 0 17px 24px;
    border-radius: 12px;
    background: linear-gradient(87deg, #f39034 0%, #ff2727 100%);
    box-shadow: 4px 4px 10px 0px rgba(244, 144, 53, 0.3);

    .content {
      display: flex;
      flex-direction: column;
      margin: 13px 0 0 26px;

      .topHeading {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
      }
      .middleNumber {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        margin-top: 6px;
      }
      .bottomText {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
      }
    }
    .rightContent {
      display: flex;
      justify-content: center;
      width: 26px;
      height: 26px;
      background: #ffffff;
      border-radius: 40px;

      .bookImg {
        // margin-top: 10px;
        align-items: center;
      }
    }
  }
}
