<div class="right-section">
    <div class="block1">
        <div class="content">
            <span class="topHeading">To be Fulfilled</span>
            <span class="middleNumber">56</span>
            <span class="bottomText">Quality</span>
        </div>
        <div class="rightContent">
            <div class="imgWrapper">
                <img class="bookImg" src="../../../assets/images/NoteBook.png" alt="">
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="content">
            <span class="topHeading">To be Fulfilled</span>
            <span class="middleNumber">56</span>
            <span class="bottomText">Quality</span>
        </div>
    </div>
    <div class="block3">
        <div class="content">
            <span class="topHeading">To be Fulfilled</span>
            <span class="middleNumber">56</span>
            <span class="bottomText">Quality</span>
        </div>
    </div>
    <div class="block4">
        <div class="content">
            <span class="topHeading">To be Fulfilled</span>
            <span class="middleNumber">56</span>
            <span class="bottomText">Quality</span>
        </div>
    </div>
</div>