.charts-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin-top: 22px;

  app-highchart {
    width: 40%;
  }
}

.statistics-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  line-height: 0.5;
  color: #5D5FEF;
  background: transparent;
  border: 1px solid #3D3C41;
  border-radius: 4px;
  cursor: pointer;

  img {
    width: 18px;
  }
}
