<app-card-component></app-card-component>

<div class="charts-wrapper">
    <div class="pie-chart-container">
        <div class="title-wrapper">
            <h3>Statistics</h3>
            <button class="statistics-btn">
                <img src="../../../assets/images/menu-bar-hori.png" alt="menu-bar">
            </button>
        </div>
        <div class="chartWrapper">
            <app-highcharts></app-highcharts>
        </div>
    </div>
    <div class="graph-container">
        <div class="pie-chart-container-1">
            <app-areacharts></app-areacharts>

        </div>
    </div>
</div>

<div class="data-table-wrapper">
    <table id="project-list-table">
        <thead>
            <tr>
                <th class="width-30">Company</th>
                <th>Status</th>
                <th>Type</th>
                <th>Id</th>
                <th class="width-30">Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="company-wrapper">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn3tMPf1GfjK6hilt2NDTvqQgFJcqL4-Ez4A&usqp=CAU"
                            alt="company-img">
                        <span>Louis Vuitton</span>
                    </div>
                </td>
                <td>
                    <span class="status-chip active">
                        Active
                    </span>
                </td>
                <td>
                    Bravo
                </td>
                <td>
                    <span class="id-chip">9177</span>
                </td>
                <td>
                    <div class="contact-wrapper">
                        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"
                            alt="profile-img">
                        <span>Evan Flores</span>
                    </div>
                </td>
                <td>
                    <div class="action-wrapper">
                        <button>
                            <img src="../../../assets/images/icons8-more.png" alt="icon">
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="company-wrapper">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn3tMPf1GfjK6hilt2NDTvqQgFJcqL4-Ez4A&usqp=CAU"
                            alt="company-img">
                        <span>Louis Vuitton</span>
                    </div>
                </td>
                <td>
                    <span class="status-chip active">
                        Active
                    </span>
                </td>
                <td>
                    Bravo
                </td>
                <td>
                    <span class="id-chip">9177</span>
                </td>
                <td>
                    <div class="contact-wrapper">
                        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"
                            alt="profile-img">
                        <span>Evan Flores</span>
                    </div>
                </td>
                <td>
                    <div class="action-wrapper">
                        <button>
                            <img src="../../../assets/images/icons8-more.png" alt="icon">
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="company-wrapper">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn3tMPf1GfjK6hilt2NDTvqQgFJcqL4-Ez4A&usqp=CAU"
                            alt="company-img">
                        <span>Louis Vuitton</span>
                    </div>
                </td>
                <td>
                    <span class="status-chip danger">
                        Danger
                    </span>
                </td>
                <td>
                    Bravo
                </td>
                <td>
                    <span class="id-chip">9177</span>
                </td>
                <td>
                    <div class="contact-wrapper">
                        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"
                            alt="profile-img">
                        <span>Evan Flores</span>
                    </div>
                </td>
                <td>
                    <div class="action-wrapper">
                        <button>
                            <img src="../../../assets/images/icons8-more.png" alt="icon">
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="company-wrapper">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn3tMPf1GfjK6hilt2NDTvqQgFJcqL4-Ez4A&usqp=CAU"
                            alt="company-img">
                        <span>Louis Vuitton</span>
                    </div>
                </td>
                <td>
                    <span class="status-chip pending">
                        Pending
                    </span>
                </td>
                <td>
                    Bravo
                </td>
                <td>
                    <span class="id-chip">9177</span>
                </td>
                <td>
                    <div class="contact-wrapper">
                        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"
                            alt="profile-img">
                        <span>Evan Flores</span>
                    </div>
                </td>
                <td>
                    <div class="action-wrapper">
                        <button>
                            <img src="../../../assets/images/icons8-more.png" alt="icon">
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="company-wrapper">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn3tMPf1GfjK6hilt2NDTvqQgFJcqL4-Ez4A&usqp=CAU"
                            alt="company-img">
                        <span>Louis Vuitton</span>
                    </div>
                </td>
                <td>
                    <span class="status-chip active">
                        Active
                    </span>
                </td>
                <td>
                    Bravo
                </td>
                <td>
                    <span class="id-chip">9177</span>
                </td>
                <td>
                    <div class="contact-wrapper">
                        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"
                            alt="profile-img">
                        <span>Evan Flores</span>
                    </div>
                </td>
                <td>
                    <div class="action-wrapper">
                        <button>
                            <img src="../../../assets/images/icons8-more.png" alt="icon">
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>