<app-card-component></app-card-component>

<div class="charts-wrapper">
    <div class="pie-chart-container">
        <div class="title-wrapper">
            <h3>Statistics</h3>
            <button class="statistics-btn">
                <img src="../../../assets/images/menu-bar-hori.png" alt="menu-bar">
            </button>
        </div>
        <div class="chartWrapper">
            <app-highcharts></app-highcharts>
        </div>
    </div>
    <div class="graph-container">
        <div class="pie-chart-container-1">
            <app-areacharts></app-areacharts>

        </div>
    </div>
</div>

<div class="data-table-wrapper">
    <table id="project-list-table">
        <thead>
            <tr>
                <th class="width-30">Company</th>
                <th>Status</th>
                <th>Type</th>
                <th>Id</th>
                <th class="width-30">Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of projects; let i = index">
                <td>
                    <div class="company-wrapper">
                        <img [src]="item.company_img" alt="company-img">
                        <span>{{ item.company }}</span>
                    </div>
                </td>
                <td>
                    <span class="status-chip"
                        [ngClass]="{'active' : item.status === 'active','pending' : item.status === 'pending','danger' : item.status === 'danger'}">
                        {{ item.status }}
                    </span>
                </td>
                <td>
                    {{ item.type }}
                </td>
                <td>
                    <span class="id-chip">{{ item.id }}</span>
                </td>
                <td>
                    <div class="contact-wrapper">
                        <img [src]="item.contact_img" alt="profile-img">
                        <span>{{ item.contact }}</span>
                    </div>
                </td>
                <td>
                    <div class="action-wrapper">
                        <button (click)="openPopup(i)">
                            <img src="../../../assets/images/icons8-more.png" alt="icon">
                        </button>
                        <div class="dropdown-options" *ngIf="table_action_popup && table_action_index === i">
                            <button (click)="closePopup()">X</button>
                            <ul>
                                <li>
                                    <a>View</a>
                                </li>
                                <li>
                                    <a>Edit</a>
                                </li>
                                <li>
                                    <a>Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>