<app-card-component></app-card-component>

<div class="charts-wrapper">
    <div class="pie-chart-container">
        <div class="title-wrapper">
            <h3>Statistics</h3>
            <button class="statistics-btn">
                <img src="../../../assets/images/menu-bar-hori.png" alt="menu-bar">
            </button>
        </div>
        <div class="chartWrapper">
            <app-highcharts></app-highcharts>
        </div>
    </div>
    <div class="graph-container">
        <div class="pie-chart-container-1">
        <app-areacharts></app-areacharts>

        </div>
    </div>
</div>
