<router-outlet></router-outlet>

<!-- loader -->
<div class="loader" *ngIf="showLoader">
    <div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <p>Loading ...</p>
</div>

<!-- Info Popup -->
<div class="popup-container" *ngIf="popupOpen">
    <div class="wrapper">
        <div class="header">
            <h3>Alert !!!</h3>
        </div>
        <div class="body">
            <p>{{ popupMessage }}</p>
        </div>
        <div class="footer">
            <button (click)="closePopup()">Close</button>
        </div>
    </div>
    <div class="bg-overlay"></div>
</div>