.login-container {
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  
    .wrapper {
      width: 70%;
      max-width: 600px;
      min-height: 200px;
      padding: 36px 40px 56px;
      border-radius: 10px;
      background: #2b2b4b;
      border-left: 60px solid #00003330;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
      &::after,
      &::before {
        content: "";
        position: absolute;
        opacity: 0.5;
        left: 0;
        height: 100%;
        width: 3px;
        top: 0;
      }
  
      &::after {
        background: #0cb752;
      }
  
      &::before {
        left: 3px;
        background: #0279e2;
      }
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        h2 {
          margin-bottom: 38px;
          font-size: 40px;
          font-weight: 900;
          text-transform: uppercase;
          border-bottom: 1px solid #cccccc30;
          padding-bottom: 8px;
          width: 100%;
          text-align: center;
  
          img {
            width: 22px;
            height: 22px;
            object-fit: contain;
            margin-right: 10px;
          }
  
          span {
            font-weight: 300;
            font-size: 28px;
  
            &:nth-child(2) {
              color: #ff2d28;
            }
            &:nth-child(3) {
              color: #7220d8;
            }
            &:last-child {
              color: #0047d6;
            }
          }
        }
  
        .input-wrapper {
          display: flex;
          flex-direction: column;
          gap: 12px;
          margin-bottom: 28px;
          width: 60%;
  
          label {
            font-size: 14px;
          }
  
          input {
            background: transparent;
            border: 1px solid #dddddd;
            padding: 8px 12px;
            outline: none;
            font-size: 16px;
            border-radius: 8px;
            font-weight: 300;
            border-bottom: 2px solid #dddddd;
          }
        }
  
        button {
          margin-top: 16px;
          padding: 12px 18px;
          min-width: 240px;
          background: #2ad05c;
          color: #ffffff;
          border: none;
          font-size: 16px;
          border-radius: 6px;
          cursor: pointer;
          font-weight: 500;
          letter-spacing: 1px;
          background: #014dd8;
  
          &:disabled {
            background: #cccccc !important;
            color: #ffffff !important;
            cursor: unset !important;
          }
  
          &:hover {
            background: #0243bd;
          }
        }
      }
    }
  }
  