.container {
  padding: 24px 32px;

  .wrapper {
    margin: 0 auto;
    max-width: 1280px;

    .main-body-content {
      display: flex;
      gap: 24px;

      app-navbar {
        width: calc(25% - 12px);
      }

      app-card-component {
        width: calc(75% - 12px);
      }
    }
  }
}
